{
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"extends": ["ixn"],
	"rules": {
		"import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.spec.ts"] }]
	},
	"ignorePatterns": ["dist"]
}
